{% extends 'home/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-centered">
            {% if user.is_authenticated %}
                <div class="list-group">
                    <li class="list-group-item list-group-item-info">
                        Your Groups:
                        <a href="{% url 'users:join_group' %}" class="pull-right">
                            <small>JOIN    </small>
                        </a>
                        <a href="{% url 'users:create_group' %}" class="pull-right">
                            <span class="glyphicon glyphicon-plus">&nbsp;</span>
                        </a>
                    </li>
                    {% if groups %}
                        {% for group in groups %}
                            <a href="{% url 'users:group' group_id=group.id %}" class="list-group-item list-group-item-action">
                                {{ group.name }}
                                {% if group.isPrivate %}
                                <span class="pull-right glyphicon glyphicon-eye-close">&nbsp;</span>
                                {% endif %}
                            </a>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">You are not in any groups.</li>
                    {% endif %}
                </div>
            {% else %}
            <p>You must login to view this page.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
