{% extends 'home/base.html' %}

{% block content %}

{% if user.is_authenticated %}
    <p> Welcome {{ user.first_name }}</p>
    <p>Change your password <a href="{% url 'users:change-password' %}">here</a></p>
    <p>Logout <a href="{% url 'users:logout' %}">here</a></p>
    <p>Create new Group <a href="{% url 'users:create_group' %}">here</a></p>
    <p>Join existing Group <a href="{% url 'users:join_group' %}">here</a></p>
    <p>Leave a Group <a href="{% url 'users:leave_group' %}">here</a></p>

{% else %}
    <p>You are not logged in, so you can't see your profile</p>
{% endif %}

{% endblock %}
