{% extends 'home/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-xs-8 col-centered">
            {% if user.is_authenticated %}
                <div class="list-group">
                    <li class="list-group-item text-center">
                        <h2>
                            <span class="pull-left"><small>group:</small></span>
                            {{ group.name }}
                        </h2>
                    </li>
                    {% if viewed_user.is_site_manager %}
                    <li class="list-group-item list-group-item-success"><small>SITE MANAGER</small></li>
                    {% endif %}

                    {% if viewed_user.is_suspended %}
                    <li class="list-group-item list-group-item-danger"><small>SUSPENDED</small></li>
                    {% endif %}
                </div>
                <br>
                <div class="list-group">
                    <li class="list-group-item list-group-item-info">Members in this group:</li>
                    {% if users %}
                        {% for user in users %}
                            <a href="{% url 'users:user' user_id=user.id %}" class="list-group-item list-group-item-action">{{ user.first_name }} {{ user.last_name }}</a>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">There are no users in this group.</li>
                    {% endif %}
                </div>
            {% else %}
            <p>You do not have permission to view this page.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
