{% extends 'home/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-xs-8 col-centered">
            {% if user.is_authenticated %}
                <div class="list-group">
                    <li class="list-group-item text-center">
                        <h2>
                            <span class="pull-left"><small>user:</small></span>
                            {{ viewed_user.first_name }} {{ viewed_user.last_name }}
                        </h2>
                    </li>
                    {% if viewed_user.is_site_manager %}
                    <li class="list-group-item list-group-item-success"><small>SITE MANAGER</small></li>
                    {% endif %}

                    {% if viewed_user.is_suspended %}
                    <li class="list-group-item list-group-item-danger"><small>SUSPENDED</small></li>
                    {% endif %}
                </div>
                <br>
                <div class="list-group">
                    <li class="list-group-item list-group-item-info">Groups this user is in:</li>
                    {% if groups %}
                        {% for group in groups %}
                            {% if user.is_site_manager %}
                                <li class="list-group-item">
                                    <a href="{% url 'users:group' group_id=group.id %}">{{ group.name }}</a>
                                    <a href="{% url 'users:remove_user_from_group' user_id=viewed_user.id group_id=group.id%}" class="pull-right">
                                        <span class="glyphicon glyphicon-remove" style="color:#c71500;"></span>
                                    </a>
                                </li>
                            {% else %}
                                <a href="{% url 'users:group' group_id=group.id %}" class="list-group-item list-group-item-action">{{ group.name }}</a>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">This user is in no groups.</li>
                    {% endif %}
                </div>
                <br>
                <div class="list-group">
                    <li class="list-group-item list-group-item-info">Reports by this user:</li>
                    {% if reports %}
                        {% for report in reports %}
                                <li class="list-group-item">
                                    <a href="{% url 'reports:view_report' pk=report.id %}">{{ report.title }}</a>
                                </li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">This user has no reports.</li>
                    {% endif %}
                </div>
            {% else %}
            <p>You must login to view this page.</p>
            {% endif %}
            <br>
            {% if user.is_site_manager %}
                {% if viewed_user.is_suspended %}
                <a href="{% url 'users:suspend_user' user_id=viewed_user.id %}" role="button" class="btn btn-danger btn-lg">Remove suspension</a>
                {% else %}
                <a href="{% url 'users:suspend_user' user_id=viewed_user.id %}" role="button" class="btn btn-danger btn-lg">Suspend this user</a>
                {% endif %}

                {% if viewed_user.is_site_manager %}
                <a href="{% url 'users:promote_user' user_id=viewed_user.id %}" role="button" class="btn btn-danger btn-lg">Demote user</a>
                {% else %}
                <a href="{% url 'users:promote_user' user_id=viewed_user.id %}" role="button" class="btn btn-danger btn-lg">Promote user</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
